{% extends "core/core.twig" %}
{% set title = "Главная" %}
{% block body %}
    <section class="main firstSection">
        <div class="wrapVideo">
            <video src="/files/bg.mkv">
            </video>
        </div>
        <div class="container">
            <div class="main__container">
                <h1 class="main__title title title--h2">
                    Доставка свежих цветов <br> по Кирову и области
                </h1>
                <p class="main__subtitle">
                    Бесплатная доставка по городу, доставляем круглосуточно
                </p>
                <div class="main__btns">
                    <button class="btn btn--default">Выбрать букет</button>
                    <button class="btn btn--empty main__readyBtn">Готовые букеты</button>
                </div>
                <ul class="main__advantage advantage">
                    <li class="">
                        <span class="advantage__item">
                  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M14.1069 4.39198C14.266 4.11942 14.5595 3.95363 14.875 3.9581L17.7917 3.95809C18.1717 3.9582 18.5082 4.20357 18.6245 4.56535L18.6348 4.60295C18.6949 4.6687 18.7987 4.78815 18.9139 4.92652C19.1136 4.76651 19.364 4.66675 19.6397 4.66675H21.2917C21.4527 4.66675 21.5834 4.79742 21.5834 4.95842V6.70842C21.5834 6.86942 21.4527 7.00009 21.2917 7.00009H20.4166L20.4166 7H19.0138L19.6896 9.7399C19.6851 9.72972 19.6806 9.71955 19.6761 9.7094C19.7584 10.4422 19.8334 11.193 19.8334 11.9584C19.8334 13.7169 19.5058 15.059 18.8364 16.0247C18.1671 16.9904 17.1082 17.5001 16.0417 17.5001H13.125C11.6856 17.5001 10.5 16.3145 10.5 14.8751V13.4168H5.88007C5.66408 13.5728 4.86811 14.2567 4.72479 15.7626C5.12342 16.1719 8.05564 19.1145 11.7818 19.1145H19.1144C19.4843 18.6093 20.2113 17.7918 21.6905 17.7918H24.1377L24.2277 17.7017C23.8647 17.175 23.17 16.3334 21.875 16.3334C21.3918 16.3334 21.0001 15.9416 21 15.4584C21 13.4822 20.537 11.8139 19.9556 10.3695L21.6914 9.84097C22.211 11.249 22.6104 12.9043 22.6965 14.7737C25.0006 15.2583 26.1577 17.401 26.1577 17.401C26.3258 17.7377 26.2597 18.1442 25.9937 18.4104L25.1187 19.2854C25.0799 19.3242 25.0376 19.3593 24.9922 19.3902C25.0481 19.6275 25.0834 19.8728 25.0834 20.1251C25.0834 21.8866 23.6366 23.3334 21.875 23.3334C20.3681 23.3334 19.0954 22.2734 18.7578 20.8645H11.7818C11.3194 20.8645 10.8736 20.8188 10.4362 20.754C10.1409 22.2182 8.83816 23.3334 7.29169 23.3334C5.53015 23.3334 4.08335 21.8866 4.08335 20.1251C4.08335 19.3914 4.33685 18.7145 4.75555 18.1712C3.73438 17.371 3.14227 16.7014 3.14227 16.7014C2.997 16.5405 2.91661 16.3314 2.91669 16.1147C2.91669 13.2842 5.05633 11.8137 5.05633 11.8137C5.20007 11.7179 5.36894 11.6668 5.54169 11.6668H11.375C11.8583 11.6668 12.25 12.0585 12.25 12.5418V14.8751C12.25 15.3689 12.6312 15.7501 13.125 15.7501H16.0417C16.6208 15.7501 17.0199 15.5725 17.3975 15.0278C17.775 14.4831 18.0834 13.4917 18.0834 11.9584C18.0834 9.11068 17.3461 6.49279 17.1149 5.7081H14.875C14.5595 5.71256 14.266 5.54677 14.1069 5.27421C13.9478 5.00165 13.9478 4.66455 14.1069 4.39198ZM4.77354 9.18398C4.93262 8.91142 5.22613 8.74562 5.54169 8.75009H11.375C11.6906 8.74562 11.9841 8.91142 12.1432 9.18398C12.3023 9.45654 12.3023 9.79364 12.1432 10.0662C11.9841 10.3388 11.6906 10.5045 11.375 10.5001H5.54169C5.22613 10.5045 4.93262 10.3388 4.77354 10.0662C4.61446 9.79364 4.61446 9.45654 4.77354 9.18398ZM8.72837 20.3473C7.79157 20.0369 6.93819 19.6218 6.20136 19.1749C5.97832 19.4295 5.83335 19.7542 5.83335 20.1251C5.83335 20.9407 6.47606 21.5834 7.29169 21.5834C8.03116 21.5834 8.62327 21.0537 8.72837 20.3473ZM23.1989 19.5418H21.6905C21.0389 19.5418 20.6249 19.9533 20.4247 20.2083C20.4675 20.9832 21.0879 21.5834 21.875 21.5834C22.6907 21.5834 23.3334 20.9407 23.3334 20.1251C23.3334 19.9121 23.2785 19.7204 23.1989 19.5418Z"
                              fill="#7E62F4"/>
                  </svg>


                            <span>
                                Доставка по Кирову бесплатная
                            </span>
                        </span>
                    </li>
                    <li class="">
                        <span class="advantage__item">
                 <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14 2.33333C10.1874 2.33333 6.79651 4.17034 4.66668 7.00683V4.95833C4.67007 4.72172 4.5775 4.49382 4.41006 4.3266C4.24263 4.15938 4.01461 4.0671 3.778 4.0708C3.2952 4.07834 2.90975 4.47552 2.91668 4.95833V9.04166C2.91672 9.52489 3.30845 9.91662 3.79168 9.91666H7.87501C8.19057 9.92113 8.48408 9.75533 8.64316 9.48277C8.80224 9.21021 8.80224 8.87311 8.64316 8.60055C8.48408 8.32799 8.19057 8.1622 7.87501 8.16666H5.97918C7.78114 5.69228 10.6979 4.08333 14 4.08333C19.487 4.08333 23.9167 8.51299 23.9167 14C23.9167 19.487 19.487 23.9167 14 23.9167C8.513 23.9167 4.08334 19.487 4.08334 14C4.0878 13.6844 3.92201 13.3909 3.64945 13.2318C3.37689 13.0728 3.03979 13.0728 2.76723 13.2318C2.49467 13.3909 2.32888 13.6844 2.33334 14C2.33334 20.4328 7.56718 25.6667 14 25.6667C20.4328 25.6667 25.6667 20.4328 25.6667 14C25.6667 7.56717 20.4328 2.33333 14 2.33333H14ZM10.7917 10.3542C9.82256 10.3542 9.11654 10.8766 8.73178 11.3556C8.34702 11.8347 8.19858 12.3286 8.19858 12.3286C8.11629 12.5795 8.17609 12.8553 8.3549 13.0496C8.53371 13.244 8.8036 13.3264 9.06048 13.2652C9.31736 13.2041 9.52109 13.0088 9.59311 12.7547C9.59311 12.7547 9.66791 12.5195 9.86882 12.2694C10.0697 12.0192 10.3118 11.8125 10.7917 11.8125C11.1973 11.8125 11.4023 11.9396 11.5607 12.1213C11.7192 12.303 11.8125 12.5748 11.8125 12.8333C11.8125 13.3237 11.7066 13.4555 11.5072 13.6206C11.3077 13.7857 10.9343 13.9354 10.4772 14.0957C10.0201 14.256 9.47864 14.4282 8.99496 14.8374C8.51128 15.2466 8.16667 15.9348 8.16667 16.7708C8.16671 17.1735 8.49315 17.5 8.89584 17.5H12.6875C12.9505 17.5037 13.1951 17.3656 13.3276 17.1384C13.4602 16.9113 13.4602 16.6304 13.3276 16.4032C13.1951 16.1761 12.9505 16.0379 12.6875 16.0417H9.90186C9.92184 16.023 9.91386 15.9693 9.93604 15.9505C10.136 15.7814 10.506 15.6313 10.9603 15.472C11.4146 15.3127 11.9527 15.1448 12.4369 14.744C12.921 14.3432 13.2708 13.6601 13.2708 12.8333C13.2708 12.2484 13.0808 11.6455 12.6602 11.1631C12.2395 10.6807 11.5696 10.3542 10.7917 10.3542V10.3542ZM15.3125 10.5C14.91 10.5 14.5833 10.8267 14.5833 11.2292V14.4375C14.5833 14.84 14.91 15.1667 15.3125 15.1667H17.7917V16.7708C17.7917 17.1733 18.1183 17.5 18.5208 17.5C18.9233 17.5 19.25 17.1733 19.25 16.7708V14.4375V11.2292C19.25 10.8267 18.9233 10.5 18.5208 10.5C18.1183 10.5 17.7917 10.8267 17.7917 11.2292V13.7083H16.0417V11.2292C16.0417 10.8267 15.715 10.5 15.3125 10.5V10.5Z"
      fill="#7E62F4"/>
</svg>

                            <span>
Курьеры работают
круглосуточно
                            </span>
                        </span>
                    </li>
                    <li class="">
                        <span class="advantage__item">
                       <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.63349 7.57412L5.42832 6.60842L4.52612 7.00931L3.56001 7.43859L3.51517 6.80506L4.75915 5.81134L4.9749 5.63899L5.0384 5.37026L5.80114 2.14234L7.73784 2.41071L9.7307 7.5174L9.83194 7.77682L10.0724 7.9173L12.4792 9.32355L12.9927 9.62356L13.4279 9.21833L15.6964 7.10633L18.687 5.61102L22.441 7.59466L21.8512 9.03229L21.6928 9.4184L21.9188 9.76923L23.9777 12.9647L17.9835 15.2125L17.5902 15.36L17.4883 15.7675L17.0556 17.4983L16.9595 17.8827L17.207 18.1921L18.781 20.1595L19.089 24.7806L17.8555 23.9582L12.297 19.9377L11.9041 19.6535L11.4704 19.8704L9.36977 20.9207L6.26992 22.3767L4.56047 20.9521L6.20927 17.7919L6.56192 17.116L5.90376 16.7312L4.54219 15.9352V14.9343L6.83861 11.9313L7.13676 11.5414L6.92425 11.0989L5.95258 9.07594L5.63349 7.57412Z"
      stroke="#7E62F4" stroke-width="1.6"/>
</svg>

                            <span>
                              Привезём в любую точку области
                            </span>
                        </span>
                    </li>
                </ul>
                <div hidden>
                    <button class="btn btn--default">Button</button>
                    <button disabled class="btn btn--default">Button</button>

                    <button class="btn btn--default btn--fw">Button</button>
                    <button disabled class="btn btn--default btn--fw">Button</button>

                    <button class="btn btn--default btn--dd"><span>Button</span></button>
                    <button disabled class="btn btn--default btn--dd"><span>Button</span></button>

                    <button class="btn btn--empty btn--dd"><span>Button</span></button>
                    <button disabled class="btn btn--empty btn--dd"><span>Button</span></button>

                    <button class="btn btn--empty"><span>Button</span></button>
                </div>
            </div>
        </div>
    </section>
    <section class="ready">
        <div class="container">
            <div class="ready__container">
                <h3 class="ready__title title title--h1h2" >
                    Готовые букеты
                </h3>
                <p class="ready__subtitle">
                    Собрали утром ипоставили вхолодильник — доставим быстрее, стоят дешевле
                </p>

                {% set product = {
                    'class':'ready__card',
                    'price': '2 150 ₽',
                    'special':'1 950 ₽'
                } %}
                <div class="ready__products productsC">
                    {% include "./module/productCard.twig"  %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}