{#{% set image = random(productsRandom.images[]) %}#}

{#{{ image.desktop.def }}#}
<div class="productCard {{ class }}">
eqwewqeqwe{{ shopInfo.phone }}
    {{ productsRandom.images[0].desktop.def }}

</div>