@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 950;
  font-display: swap;
  src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Ultralight.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SFUIText-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SFUIText-RegularItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SFUIText-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SFUIText-SemiboldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SFUIText-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/SFUIText-HeavyItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SFUIText-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SFUIText-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SFUIText-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/SFUIText-Heavy.woff2") format("woff2");
}
input, textarea, button, option, select {
  outline: none;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none;
  resize: none;
  font-family: "SF Pro Display";
  font-size: 16px;
  line-height: 1.2;
}
input:focus:required:invalid, textarea:focus:required:invalid, button:focus:required:invalid, option:focus:required:invalid, select:focus:required:invalid {
  border-color: red;
}
input:required:valid, textarea:required:valid, button:required:valid, option:required:valid, select:required:valid {
  border-color: green;
}

*, *::before, *::after {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

body {
  color: #494949;
  position: relative;
  margin: 0;
  font-family: "SF Pro Display";
  line-height: 1.2;
}

ul, h1, h2, h3, h4, h5, p, ul, ol, li, a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

[hidden] {
  display: none !important;
}

.container {
  width: 100%;
  margin: auto;
  max-width: calc(1210px + 32px);
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (min-width: 560px) {
  .container {
    max-width: calc(1210px + 48px);
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 780px) {
  .container {
    max-width: calc(1210px + 64px);
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 962px) {
  .container {
    max-width: calc(1210px + 80px);
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: calc(1210px + 96px);
    padding-right: 48px;
    padding-left: 48px;
  }
}

.logo {
  padding: 4px 12px;
  display: inline-block;
}

.header {
  padding-top: 4px;
}
.header__container {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  background: #FFFFFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.header__catalogBtn {
  padding: 10px 12px;
}
.header__catalogBtn svg {
  margin-right: 6px;
}
.header__searchBtn {
  padding: 8px;
}
.header__hamburgerBtn {
  padding: 8px;
  margin-left: auto;
}

.headerBtn {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
/*# sourceMappingURL=app.css.map */
