.advantage {
  &__item {
    display: inline-flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $black;
    //text-shadow: 0 0 9px #e1e4e9;
    max-width: 198px;
    svg {
      margin-bottom: 12px;
    }
  }
}