.ready{
  margin-top: 32px;
  &__subtitle{
    font-size: 14px;
    line-height: 1.5;
    font-family: "SF UI Text";
    margin-top: 6px;

  }
}
@include from($xs){}
@include from($sm){
  .ready {
    margin-top: 128px;
    &__subtitle{
      margin-top: 12px;
      font-size: 18px;
      line-height: 24px;
      max-width: 430px;
    }
  }
}
@include from($md){}
@include from($lg){}